#*#
*-
*.*-
*.aps
*.bak
*.cache*
*.d
*.data
*.db
*.Generated.cs
*.ignore
*.ilk
*.ipch
*.log
*.ncb
*.opensdf
*.pdb
*.pyc
*.sdf
*.suo
*.svnignore.*
*.temp
*.TfsMirror
*.tmp
*.user
*.vshost.*
*.vspscc
.#*
.DS_Store
.git
.vs
bin
Debug
ipch
LogFiles
obj
packages
Release
temp
TestResults
Thumbs.db
_links
_ReSharper.Caches
__temp*
~*.*